@import 'foundation.scss';

body {
  background-color: gray;
}

.app {
  margin: 1rem;
  margin-top: 0rem;
}

.app-wrapper {
  background-color: #e6e6e6;
  border: none;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.selector {
  font-size: 1.3rem;
  vertical-align: middle;
}

.css-xp4uvy {
  width: 100%;
}

.info-box {
  border: 4px solid #e6e6e6;
  border-left: none;
  border-right: 8px solid #e6e6e6;
  border-radius: 20px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  height: 573px;
}

.image-name {
  margin-top: 1rem;
  border-radius: 12px
}

.search-header {
  font-size: 1.5rem;
  font-weight: bold;
}

.stat {
  font-size: 1.5rem;
  line-height: 2.4rem;
}

.poke-name {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  padding-bottom: 1rem;
}

.poke-image {
  height: 150px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.normal {
   background-color: #A8A77A;
   animation: normalTransition 1.5s;
}
.fire {
    background-color: #EE8130;
    animation: fireTransition 1.5s;
}
.water {
    background-color: #6390F0;
    color: white;
    animation: waterTransition 1.5s;
}
.electric {
    background-color: #F7D02C;
    animation: electricTransition 1.5s;
}
.grass {
    background-color: #7AC74C;
    animation: grassTransition 1.5s;
}
.ice {
    background-color: #96D9D6;
    animation: iceTransition 1.5s;
}
.fighting {
    background-color: #C22E28;
    color: white;
    animation: fightingTransition 1.5s;
}
.poison {
    background-color: #A33EA1;
    color: white;
    animation: poisonTransition 1.5s;
}
.ground {
    background-color: #E2BF65;
    animation: groundTransition 1.5s;
}
.flying {
    background-color: #A98FF3;
    animation: flyingTransition 1.5s;
}
.psychic {
    background-color: #F95587;
    animation: psychicTransition 1.5s;
}
.bug {
    background-color: #A6B91A;
    animation: bugTransition 1.5s;
}
.rock {
    background-color: #B6A136;
    animation: rockTransition 1.5s;
}
.ghost {
    background-color: #735797;
    color: white;
    animation: ghostTransition 1.5s;
}
.dragon {
    background-color: #6F35FC;
    color: white;
    animation: dragonTransition 1.5s;
}
.dark {
    background-color: #705746;
    color: white;
    animation: darkTransition 1.5s;
}
.steel {
    background-color: #B7B7CE;
    animation: steelTransition 1.5s;
}
.fairy {
    background-color: #D685AD;
    animation: fairyTransition 1.5s;
}

.pokechart {
  border: 4px solid #e6e6e6;
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 573px;
}

input {
  color: black;
}

.css-15k3avv {
  color: black !important;
}

.slider-text {
  font-size: 1.3rem;
  padding-bottom: 1rem;
  font-weight: bold;
}

.toggleSwitch {
  text-align: center;
  vertical-align: top;
}

.moves-area {
  height: 500px;
  overflow: scroll;
  text-align: left;
}

.moves-header {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: .5rem;
  margin-bottom: 0rem;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-bottom: .5rem;
  border-bottom: 2px solid #e6e6e6;
}

.move-list {
  text-align: left;
  font-size: 1.1rem;
}

.react-switch-handle {
  background-image: url('./icons/pokeball.png') !important;
  background-size: contain !important;
}

.react-switch-bg {
  background-color: #e6e6e6 !important;
}

@keyframes normalTransition {
  0% {
    border-radius: 20px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    color: transparent;
    background-position: right bottom;
    opacity: 0;
  }
  50% {
    background-image: url('./icons/normalIcon.png');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center bottom;
    border-radius: 50px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: black;
    opacity: 1;
  }
  100% {
    border-radius: 20px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
  }
}

@keyframes fireTransition {
  0% {
    border-radius: 20px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    color: transparent;
    background-color: transparent;
    background-position: right bottom;
    opacity: 0;
  }
  50% {
    background-image: url('./icons/fireIcon.png');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center bottom;
    border-radius: 50px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: black;
    opacity: 1;
  }
  100% {
    border-radius: 20px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
  }
}

@keyframes bugTransition {
  0% {
    border-radius: 20px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    color: transparent;
    background-position: right bottom;
    opacity: 0;
  }
  50% {
    background-image: url('./icons/bugIcon.png');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center bottom;
    border-radius: 50px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: black;
    opacity: 1;
  }
  100% {
    border-radius: 20px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
  }
}

@keyframes darkTransition {
  0% {
    border-radius: 20px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    color: transparent;
    background-position: right bottom;
    opacity: 0;
  }
  50% {
    background-image: url('./icons/darkIcon.png');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center bottom;
    border-radius: 50px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: black;
    opacity: 1;
  }
  100% {
    border-radius: 20px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
  }
}

@keyframes electricTransition {
  0% {
    border-radius: 20px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    color: transparent;
    background-position: right bottom;
    opacity: 0;
  }
  50% {
    background-image: url('./icons/electricIcon.png');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center bottom;
    border-radius: 50px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: black;
    opacity: 1;
  }
  100% {
    border-radius: 20px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
  }
}

@keyframes fairyTransition {
  0% {
    border-radius: 20px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    color: transparent;
    background-position: right bottom;
    opacity: 0;
  }
  50% {
    background-image: url('./icons/fairyIcon.png');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center bottom;
    border-radius: 50px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: black;
    opacity: 1;
  }
  100% {
    border-radius: 20px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
  }
}

@keyframes fightingTransition {
  0% {
    border-radius: 20px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    color: transparent;
    background-position: right bottom;
    opacity: 0;
  }
  50% {
    background-image: url('./icons/fightingIcon.png');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center bottom;
    border-radius: 50px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: black;
    opacity: 1;
  }
  100% {
    border-radius: 20px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
  }
}

@keyframes flyingTransition {
  0% {
    border-radius: 20px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    color: transparent;
    background-position: right bottom;
    opacity: 0;
  }
  50% {
    background-image: url('./icons/flyingIcon.png');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center bottom;
    border-radius: 50px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: black;
    opacity: 1;
  }
  100% {
    border-radius: 20px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
  }
}

@keyframes ghostTransition {
  0% {
    border-radius: 20px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    color: transparent;
    background-position: right bottom;
    opacity: 0;
  }
  50% {
    background-image: url('./icons/ghostIcon.png');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center bottom;
    border-radius: 50px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: black;
    opacity: 1;
  }
  100% {
    border-radius: 20px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
  }
}

@keyframes grassTransition {
  0% {
    border-radius: 20px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    color: transparent;
    background-position: right bottom;
    opacity: 0;
  }
  50% {
    background-image: url('./icons/grassIcon.png');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center bottom;
    border-radius: 50px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: black;
    opacity: 1;
  }
  100% {
    border-radius: 20px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
  }
}

@keyframes grassTransition {
  0% {
    border-radius: 20px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    color: transparent;
    background-position: right bottom;
    opacity: 0;
  }
  50% {
    background-image: url('./icons/grassIcon.png');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center bottom;
    border-radius: 50px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: black;
    opacity: 1;
  }
  100% {
    border-radius: 20px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
  }
}

@keyframes iceTransition {
  0% {
    border-radius: 20px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    color: transparent;
    background-position: right bottom;
    opacity: 0;
  }
  50% {
    background-image: url('./icons/iceIcon.png');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center bottom;
    border-radius: 50px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: black;
    opacity: 1;
  }
  100% {
    border-radius: 20px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
  }
}

@keyframes psychicTransition {
  0% {
    border-radius: 20px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    color: transparent;
    background-position: right bottom;
    opacity: 0;
  }
  50% {
    background-image: url('./icons/psychicIcon.png');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center bottom;
    border-radius: 50px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: black;
    opacity: 1;
  }
  100% {
    border-radius: 20px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
  }
}

@keyframes steelTransition {
  0% {
    border-radius: 20px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    color: transparent;
    background-position: right bottom;
    opacity: 0;
  }
  50% {
    background-image: url('./icons/steelIcon.png');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center bottom;
    border-radius: 50px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: black;
    opacity: 1;
  }
  100% {
    border-radius: 20px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
  }
}

@keyframes waterTransition {
  0% {
    border-radius: 20px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    color: transparent;
    background-position: right bottom;
    opacity: 0;
  }
  50% {
    background-image: url('./icons/waterIcon.png');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center bottom;
    border-radius: 50px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: black;
    opacity: 1;
  }
  100% {
    border-radius: 20px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
  }
}

@keyframes poisonTransition {
  0% {
    border-radius: 20px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    color: transparent;
    background-position: right bottom;
    opacity: 0;
  }
  50% {
    background-image: url('./icons/poisonIcon.png');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center bottom;
    border-radius: 50px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: black;
    opacity: 1;
  }
  100% {
    border-radius: 20px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
  }
}

@keyframes groundTransition {
  0% {
    border-radius: 20px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    color: transparent;
    background-position: right bottom;
    opacity: 0;
  }
  50% {
    background-image: url('./icons/groundIcon.png');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center bottom;
    border-radius: 50px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: black;
    opacity: 1;
  }
  100% {
    border-radius: 20px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
  }
}

@keyframes rockTransition {
  0% {
    border-radius: 20px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    color: transparent;
    background-position: right bottom;
    opacity: 0;
  }
  50% {
    background-image: url('./icons/rockIcon.png');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center bottom;
    border-radius: 50px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: black;
    opacity: 1;
  }
  100% {
    border-radius: 20px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
  }
}

@keyframes dragonTransition {
  0% {
    border-radius: 20px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    color: transparent;
    background-position: right bottom;
    opacity: 0;
  }
  50% {
    background-image: url('./icons/dragonIcon.png');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center bottom;
    border-radius: 50px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: black;
    opacity: 1;
  }
  100% {
    border-radius: 20px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
  }
}
